<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Shopify_StoreName" value="rame-3" />
    <add key="Shopify_APIKey" value="bba2c431dcb900b527232f01251ae90b" />
    <add key="Shopify_Password" value="4ed6e81b690fe957ba286ae28cc63718" />
    <add key="Shopify_Secret" value="ea9f9df9b900de6f5abe6277d22aa815" />
  </appSettings>
</configuration>